.main{
	text-align: center;
	width: 100%;
	color: #3ABAEA;
}




.container{
		width: 75%;
	    height:800px;
	    background-color: yellow;
	    margin: 0 auto;
	    color: white;
	    text-align: center;
}
.header{
	width: 100%;
	height: 150px;
	background-color: red;
}
.logo{
	width: 25%;
	height: 150px;
	background-color: green;
	float: left;
}
.menu{
	width: 75%;
	height: 150px;
	background-color: orange;
	float: left;
}
.banner{
	width: 100%;
	height: 200px;
	background-color: #e4e4e4;
}
.contant_Part{
	width: 100%;
	height: 400px;
	background-color: #ff0000;
}
.part-one{
	width: 33.33%;
	height: 400px;
	background-color: #b30000;
	float: left;
}
.part-two{
	width: 33.33%;
	height: 400px;
	background-color: #990000;
	float: left;
}
.part-three{
	width: 33.33%;
	height: 400px;
	background-color: #800000;
	float: left;
}
.footer{
	width: 100%;
	height: 50px;
	background-color: #cc8800;
}